@font-face {
    font-family: Inter-sm;
    src: url("../../font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

body {
    font-family: Inter-sm !important;
}

.location{
    margin-bottom: 71px;
}

.organization_name{
    font-weight: 600;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: 6.25rem;
    margin-bottom: 20px;
}

.akm {
    width: 100%;
}

.activity {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3px !important;
    text-align: center;
    margin: 1.875rem 6.25rem;
}

.library_column img {
    width: 50rem;
    margin-right: 10px;
    margin-bottom: 20px;
}

.library_column img:nth-child(odd) {
    margin-left: 7rem !important;
}

.info_library {
    font-weight: 600;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}

.library_section {
    font-weight: 400;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 7rem;
}

.line{
    border: 3px solid #00000033;
    margin-top: 30px;
    margin-bottom: 30px;
}

.library_about{
    row-gap: 10px !important;
}

.about_library{
font-weight: 600;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 7rem;
}

.room{
    margin-bottom: 50px;
}

.room img{
    width: 52rem;
}

.room img:first-child{
    margin-left: 7rem;
    margin-right: 10px;
}

