@font-face {
  font-family: Inter-sm;
  src: url("../../font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}
body{
  font-family: Inter-sm !important;
} 

.contact{
  margin-top: 45px;
  margin-right: -7rem;
  margin-bottom: 71px;
  gap: 22px;
}

.info_send{
  width: 577px;
  background: #1E3A8A;
  border-radius: 10px;
}

.send_info{
  width: 381px;
  padding-top: 20px !important;
  margin-left: 98px;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center; 
}

.inf{
  width: 329px;
  margin: 10px 124px;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
}

.name{
  width: 444px;
  height: 47px;
  margin: 10px 67px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
}

.phone{
  width: 444px;
  height: 47px;
  margin: 10px 67px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
}

.question{
  width: 444px;
  height: 77px;
  margin: 10px 67px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;

}

.send{
  width: 444px;
  height: 47px;
  margin: 10px 67px 20px 66px;
  
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}