 @font-face {
  font-family: Inter-sm;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

body {
  font-family: Inter-sm !important;
}

.book{
  padding: 0;
}

.books_section {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: bold;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}

.custom_gap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.81%;
}

.search{
  width: 35%;
  padding: 0;
}

.book_genre{
  width: 35%;
}

.language{
  width: 22%;
}

.library{
  flex-wrap: wrap;
  margin-top: 2.19rem;
  row-gap: 20px !important;
  gap: 0.833%;
  justify-content: center;
}

.cards{
  width: 23%;
} 

.books{
  width: 100%;
  row-gap: 10px;
  padding: 6.67% 4.67% 3.33% 5%;
  border: 1px solid #1E3A8A33;
  border-radius: 10px;
  box-shadow: 3px 4px 10px 2px #00000040;
}

.image-wrapper {
  width: 100%;
  height: auto;
}

.image{
  width: 100%;
}
 
.about_book{
  row-gap: 20px;
  position: relative;
}

.name_book{
  width: 90%;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 23px;
  min-height: 80px;
}

.format{
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 0;
  
}

.like{
  font-size: 1em;
  position: absolute;
  left: 86%;
  top: 38%;
}
.like:hover {
  transform: scale(1.1);
  background: transparent !important;
  border: white;
} 

.page_number{
  gap: 10px;
  margin-bottom: 23px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.skachat{
  width: 90%;
  height: 60px;
  background-color: #098C81;
  font-weight: 600;
  font-style:  Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.pagination{
  margin-bottom: 6.13rem;
} 