@font-face {
  font-family: Inter-sm;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
 body{
  font-family: Inter-sm !important;
} 

.hero{
  background-position: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-top: 18.07rem;
  height: 135vh;
}

.slide1{
  background-image: url("../image/kutubxon.png");
}

.slide2{
  background-image: url("../image/Akm.png");
}
 
.sub_title{
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 1%;
  text-shadow:
  -3px -3px 0 #098C81,
  3px -3px 0 #098C81,
  -3px  3px 0 #098C81,
  3px  3px 0 #098C81;
}

.motto{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;   
  line-height: 100%;
  letter-spacing: 1%;
  text-shadow:
  -3px -3px 0 #098C81,
  3px -3px 0 #098C81,
  -3px  3px 0 #098C81,
  3px  3px 0 #098C81;
}