@font-face {
  font-family: Inter-sm;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

body {
  font-family: Inter-sm !important;
}

.navbar {
  background-color: #1E3A8A;
}

.custom {
  margin-left: 6.25rem !important;
}

.brand_logo {
  width: 6.97rem;
  margin-top: 27px;
}

.brand_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.nav_links {
  margin-left: 1.25em;
  gap: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.home{
  width: 9.12rem;
}

.infos {
  margin-right: 1.9rem;
}

.infos .link {
  background-color: #1E3A8A;
  border: 1px solid #ffffff;
}

.infos .link:first-child {
  border-radius: 5px 5px 0 0;
}

.infos .link:last-child {
  border-radius: 0 0 5px 5px;
}

.infos .dropdown-toggle {
  display: flex;
  align-items: center;
}

.infos .dropdown-toggle::after {
  display: none;
}

.languages {
  width: 212px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15.5px;
  margin-right: 30px;
}

.custom-nav-dropdown {
  font-size: 24px;
}

.custom-nav-dropdown .dropdown-toggle::after {
  display: none;
}

.chevron {
  margin-left: 10px;
}

.flag {
  width: 30px;
}

.custom-nav-dropdown .dropdown-toggle {
  background-color: #1E3A8A;
  border-radius: 5px;

}

.custom-nav-dropdown .dropdown-menu {
  background-color: #1E3A8A;
  border-radius: 5px;
}

.custom-nav-dropdown .custom-item {
  border: 1px solid #ffffff;
}

.custom-nav-dropdown .custom-item:hover {
  color: #000 !important;
  border: 1px solid #ffffff;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0rem;
}

.custom-nav-dropdown .custom-item:first-child {
  border-radius: 5px 5px 0 0;
}

.custom-nav-dropdown .custom-item:last-child {
  border-radius: 0 0 5px 5px;
}

.custom-nav-dropdown .custom-item img {
  width: 30px;
  height: 20px;
}

.custom-item{
  font-size: 24px;
}

.national_flag{
  margin-right: 1.25rem;
}

.rus_flag{
  margin-right: 0.9rem;
}

.user {
  width: 68px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 29px;
  margin-bottom: 30px;
  padding: 15px 15px;
  margin-right: 6.25rem;
}

.icon {
  font-size: 33px; 
}