@font-face {
  font-family: Inter-sm;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
body{
  font-family: Inter-sm !important;
} 

.new{
  margin-bottom: 8.5rem;
}

.info{
  margin-top: 100px;
  margin-bottom: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

}
.basic_card{
  width: 90%;
  margin-left: 6.57rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 92px;
  padding-left: 10px;
  margin-left: 6.57rem;
  padding-bottom: 33px !important;
}
.card_one{
  width: 23%;
  margin-right: 10px;
  border-radius: 10px; 
  border: 1px solid #1E3A8A33;
  padding: 20px 14px 15px 15px;
  box-shadow: 3px 4px 10px 2px #00000040;
}
.topic{
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.date{
  margin-top: 8px;
  text-align: end;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%
}

.car_two{
  flex-wrap: wrap;
  row-gap: 33px !important;
  gap: 10px;
}